{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>What is Trioflix Studio ? | Trioflix Studio Help Center</title>

    <!-- css -->
    <link rel="stylesheet" href="{% static 'css/FAQ.css' %}">

    <!-- favicon -->
      <link rel="shortcut icon" href="{% static 'img/movie-org-favicon.png' %}" type="image/png">
    
    <!-- bs5 -->
     <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">    
    <!-- google fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;600;700;800;900&family=Commissioner:wght@100;300;500;700;900&display=swap" rel="stylesheet">
    
</head>
<body>

    <div class="container-fluid p-0 bg-white position-relative" id="mainBg">


        <!-- navbar starts -->

        <header class="container-fluid p-0 px-4 py-2 d-flex align-items-center" style="box-shadow: rgba(0, 0, 0, 0.15) 0px 1.95px 2.6px;">
            <nav class="navbar w-100 navbar-expand-lg bg-white d-flex align-items-center">
                <div class="container-fluid collapse navbar-collapse w-100 px-4 d-flex align-items-center justify-content-between" id="navbarSupportedContent">

                    <div class="navLeft d-flex">
                        <a href="index.html" class="navbar-brand d-flex justify-content-center align-items-center" style="max-width: 100% !important;">
                        <img src="{% static 'img/logoN.png' %}" width="90" alt="">
                        </a>

                        <div class="vr my-2"></div>
                        
                        
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                        <li class="nav-item d-flex align-items-center px-2">
                            <a class="fw-normal anchorHov fs-5 text-black text-decoration-none" aria-current="page" href="#">Help Center</a>
                        </li>
                        
                        </ul>
                    </div>   

                    <div class="navRight d-flex align-items-center gap-3">
                        <a class="anchorBtn rounded-1 btn fw-medium bg-white py-1" style="border: 1px solid #b6b6b6b3;">Join Trioflix Studio </a>
                        <a href="sign In.html" class="px-3 btn signin rounded-1 border-0 text-white fw-semibold text-nowrap text-decoration-none" id="signIn" style="background-color:  #997222 !important; font-size: 0.8rem ">Sign In</a>
                    </div>

                </div>
            </nav>
        </header>

        <!-- navbar ends -->


        <!-- main section starts -->

        <div class="container-fluid px-4 py-4">
            <div class="container-fluid px-4 py-2 p-0">




                <section class="search-section container-fluid p-0">
                    <form class="form w-100">
                        <div class="searchControlWrapper">
                            <button class="btn position-absolute opacity-75"><svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" viewBox="0 0 24 24" fill="#000000">
                            <path fill-rule="evenodd" d="M11 18a7 7 0 10-7-7 7 7 0 007 7zm7-1.38l3.68 3.67-1.42 1.42L16.62 18A9 9 0 1118 16.62z"/>
                            </svg></button>
                            <input type="text" class="inputControl w-100" placeholder="Type a question, topic or issue">
                        </div>
                    </form>
                </section>


                <section class="content-section d-flex justify-content-between container-fluid p-0">

                    <div class="leftPane py-2">

                        <div class="whatIsTrioflix Studio pt-4 contentDiv">
                            <h1 class="fw-bold mb-4">What is Trioflix Studio ?</h1>
                            <div class="imageOne overflow-hidden">
                                <img src="{% static 'img/whatisTrioflix.png' %}" class="img-fluid">
                            </div>

                            <div class="para py-3 pe-3">
                                <p> Trioflix Studio is a subscription-based <a href="#" class="thinAnchor">streaming service</a> that allows our members to watch TV shows and movies on an internet-connected device.</p>

                                <p><a href="#" class="thinAnchor">Depending on your plan</a>, you can also <a href="#" class="thinAnchor">download TV shows and movies</a> to your iOS, Android, or Windows 10 device and watch without an internet connection.</p>

                                <p>If you're already a member and would like to learn more about using Trioflix Studio, visit <a href="#" class="thinAnchor">Getting started with Trioflix Studio</a>.</p>
                            </div>
                        </div>

                        <hr>

                        <div class="tvshows&movies pt-4 contentDiv">
                            <h4 class="fw-semibold mb-4">TV Shows & Movies</h4>
                            <div class="imageOne overflow-hidden">
                              <img src="{% static 'img/tv&movies0.png' %}" class="img-fluid">
                            </div>

                            <div class="para py-3 pe-3">
                                
                                <p> Trioflix Studio content varies by region and may change over time. You can watch a variety of <a href="#" class="thinAnchor">award-winning  Trioflix Studiooriginals, TV shows, movies, documentaries, and more</a>.</p>


                                <p>The more you watch, the better  Trioflix Studio gets at <a href="#" class="thinAnchor">recommending</a> TV shows and movies.</p>

                            </div>
                        </div>

                        <hr>

                        <div class="supporteddevices pt-4 contentDiv">
                            <h4 class="fw-semibold mb-4">Supported Devices</h4>
                            <div class="imageOne overflow-hidden">
                                <img src="{% static 'img/supporteddevice0.png' %}" class="img-fluid">
                            </div>

                            <div class="para py-3 pe-3">

                                <p>You can watch Trioflix Studio through any <a href="#" class="thinAnchor">internet-connected device</a> that offers the  Trioflix Studioapp, including smart TVs, game consoles, streaming media players, set-top boxes, smartphones, and tablets. You can also watch  Trioflix Studioon your computer using an internet browser. You can review the <a href="#" class="thinAnchor">system requirements</a> for web browser compatibility, and check our <a href="#" class="thinAnchor">internet speed recommendations</a> to achieve the best performance.</p>

                                <p class="ps-2" style="border-left: 4px solid #D5D4D1;"><b class="me-2">NOTE:</b>A small percentage of devices may not be supported by<a href="#" class="thinAnchor"> all plans</a>.</p>

                                <p>Need help getting set up? Search our <a href="#" class="thinAnchor">Help Center</a> for the manufacturer of the device you're using.</p>

                                <p class="ps-2" style="border-left: 4px solid #D5D4D1;"><b class="me-2">NOTE:</b>The  Trioflix Studioapp may come pre-loaded on certain devices, or you may need to download the  Trioflix Studioapp onto your device.  Trioflix Studioapp functionality may differ between devices.</p>

                            </div>
                        </div>

                        <hr>

                        <div class="plans&pricing pt-4 contentDiv">
                            <h4 class="fw-semibold mb-4">Plans and Pricing</h4>
                            <div class="imageOne overflow-hidden">
                                <img src="{% static 'img/plans&pricing.png' %}" class="img-fluid">
                            </div>

                            <div class="para py-3 pe-3">
                                
                                <p>Each <a href="#" class="thinAnchor">Trioflix Studio Plan </a>determines the number of devices you can watch  Trioflix Studioon at the same time and whether you can watch in High Definition (HD), Full High Definition (FHD), or Ultra High Definition (UHD).</p>


                                <p>You can <a href="#" class="thinAnchor">change your plan</a> or <a href="#" class="thinAnchor">cancel</a> online at any time.</p>

                            </div>
                        </div>

                        <hr>

                        <div class="tvshows&movies pt-4 contentDiv">
                            <h4 class="fw-semibold mb-4">Get Started</h4>
                            <div class="imageOne overflow-hidden">
                              <img src="{% static 'img/getstarted0.png' %}" class="img-fluid">
                            </div>

                            <div class="para py-3 pe-3">
                                
                                <p>To start watching Trioflix Studio:</p>

                               <ol class="list">
                                <li class="lh-lg">Visit <a href="#" class="thinAnchor"> Trioflix Studio.com/signup</a>.</li>
                                <li class="lh-lg"><a href="#" class="thinAnchor">Choose a Plan</a>.</li>
                                <li class="lh-lg">Create an account by entering your email address and creating a password.</li>
                                <li class="lh-lg">Enter a <a href="#" class="thinAnchor">payment method</a>.</li>
                               </ol>

                               <p>As a  Trioflix Studio member, you are charged once a month on the date you signed up.</p>

                            </div>

                            <hr>

                            <p class="m-0 my-4"><b class="fs-5">Was this article helpful?</b> <a class="fw-normal anchorHov text-black mx-2" href="#">Yes</a><a class="fw-normal anchorHov text-black mx-2" href="#">No</a> </p>

                            <hr>

                            <p class="m-0 my-4"><b class="fs-5">Need more help?</b> <a class="fw-normal btn contactBtn rounded-1 bg-black text-white mx-3" href="#">Contact Us</a> </p>
                        </div>

                    </div>



                    <div class="rightPane p-5 pe-0">
                        <div class="articleMain my-5 ps-5 py-1 w-100">
                            <div class="card articleInner my-3 rounded-3 overflow-hidden">
                                <div class="articleTopics py-4 px-3 bg-white">
                                    <h5>Related Articles</h5>

                                    <div class="articleList">
                                        <ul class="list-unstyled d-flex flex-column gap-2 my-3">
                                            <li class="d-flex gap-2 lh-lg"><span><svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <rect x="8" y="7" width="8" height="2" fill="#050505"></rect>
                                                <rect x="8" y="11" width="5" height="2" fill="#050505"></rect>
                                                <path fill-rule="evenodd" clip-rule="evenodd" d="M18 4H6V20H18V4ZM4 2V22H20V2H4Z" fill="#050505"></path>
                                                </svg></span>

                                                <span><a href="#" class="text-black anchorHov">Getting started with Trioflix Studio</a></span>

                                            </li>

                                            <li class="d-flex gap-2 lh-lg"><span><svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <rect x="8" y="7" width="8" height="2" fill="#050505"></rect>
                                                <rect x="8" y="11" width="5" height="2" fill="#050505"></rect>
                                                <path fill-rule="evenodd" clip-rule="evenodd" d="M18 4H6V20H18V4ZM4 2V22H20V2H4Z" fill="#050505"></path>
                                                </svg></span>

                                                <span><a href="#" class="text-black anchorHov">Billing and Payments</a></span>

                                            </li>

                                            <li class="d-flex gap-2 lh-lg"><span><svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <rect x="8" y="7" width="8" height="2" fill="#050505"></rect>
                                                <rect x="8" y="11" width="5" height="2" fill="#050505"></rect>
                                                <path fill-rule="evenodd" clip-rule="evenodd" d="M18 4H6V20H18V4ZM4 2V22H20V2H4Z" fill="#050505"></path>
                                                </svg></span>

                                                <span><a href="#" class="text-black anchorHov">Can't sign in to Trioflix Studio</a></span>

                                            </li>

                                            <li class="d-flex gap-2 lh-lg"><span><svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <rect x="8" y="7" width="8" height="2" fill="#050505"></rect>
                                                <rect x="8" y="11" width="5" height="2" fill="#050505"></rect>
                                                <path fill-rule="evenodd" clip-rule="evenodd" d="M18 4H6V20H18V4ZM4 2V22H20V2H4Z" fill="#050505"></path>
                                                </svg></span>

                                                <span><a href="#" class="text-black anchorHov">How to create, change, or delete profiles</a></span>

                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </section>

            </div>
        </div>

        <!-- main section ends -->


        <!-- footer starts -->

    <footer class="container-fluid footer py-5 p-0">
    <div class="container-fluid mx-5">
        
        <div class="d-flex select p-2 align-items-center" style="position: relative; width: fit-content; min-width: 120px;">
            
            <svg viewBox="0 0 16 16" width="16" height="16" fill="white" class="me-2">
                <path d="M8 0a8 8 0 1 0 0 16A8 8 0 0 0 8 0zm0 15a7 7 0 1 1 0-14 7 7 0 0 1 0 14zm1.5-1.123A6.96 6.96 0 0 0 13.074 8H9.5V13.877zm-3 0V8H2.926a6.96 6.96 0 0 0 3.574 5.877zM9.5 7V2.123A6.96 6.96 0 0 0 13.074 8H9.5V7zm-3-4.877V7H2.926a6.96 6.96 0 0 0 3.574-5.877z"/>
            </svg>

            <select id="lang-switcher" class="bg-transparent border-0 fw-semibold text-white" onchange="changeLang(this.value)" style="cursor: pointer; outline: none; appearance: none; -webkit-appearance: none; z-index: 2; padding-right: 25px;">
                <option value="en" selected class="text-black">English</option>
                <option value="hi" class="text-black">हिन्दी</option>
            </select>

            <svg id="downArrow" viewBox="0 0 16 16" width="12" height="12" fill="white" style="position: absolute; right: 10px; pointer-events: none;">
                <path d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z"/>
            </svg>

        </div>

        <div id="google_translate_element" style="display:none;"></div>

    </div>
</footer>

<div id="google_translate_element" style="display:none;"></div>

                    <svg id="downArrow" width="25" height="25" viewBox="0 0 26 26">
                        <path fill="#8b8a88" d="M12.9416531,7.71264972 L17.9520258,15.2282087 C18.4421897,15.9634546 18.2435115,16.9568456 17.5082656,17.4470095 C17.2454376,17.6222282 16.9366253,17.715729 16.6207453,17.715729 L6.6,17.715729 C5.7163444,17.715729 5,16.9993846 5,16.115729 C5,15.799849 5.09350084,15.4910367 5.26871953,15.2282087 L10.2790922,7.71264972 C10.7692561,6.97740382 11.7626471,6.77872563 12.497893,7.26888957 C12.6736566,7.38606534 12.8244774,7.53688606 12.9416531,7.71264972 Z" transform="translate(11.610458, 12.357865) scale(1, -1) translate(-11.610458, -12.357865) "></path>
                    </svg>
                </div>

                <div class="footerOptions mt-5  ">
                    <ul class="list-unstyled m-0">
                        <li class="lh-lg my-1"><a href="#" style="color: #4d4d4d;">Terms of Use</a></li>
                        <li class="lh-lg my-1"><a href="#" style="color: #4d4d4d;">Privacy</a></li>
                        <li class="lh-lg my-1"><a href="#" style="color: #4d4d4d;">Cookie Preferences</a></li>
                        <li class="lh-lg my-1"><a href="#" style="color: #4d4d4d;">Corporate Information</a></li>
                    </ul>
                </div>
            </div>
        </footer>

        <!-- footer ends -->
    </div>
    <!-- js -->
   <script src="{% static 'js/FAQ.js' %}"></script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>

<script type="text/javascript">
    // 1. Data direct yahan dalo (Tension khatam)
    const wordMap = {
        "What is Trioflix Studio ?": "Trioflix Studio क्या है?",
        "Sign In": "साइन इन",
        "Help Center": "सहायता केंद्र",
        "Join Trioflix Studio": "Trioflix Studio से जुड़ें",
        "TV Shows & Movies": "टीवी शो और फिल्में",
        "Supported Devices": "सपोर्टेड डिवाइस",
        "Plans and Pricing": "प्लान और कीमतें",
        "Related Articles": "संबंधित लेख",
        "Terms of Use": "उपयोग की शर्तें",
        "Privacy": "गोपनीयता",
        "Corporate Information": "कॉर्पोरेट जानकारी",
        "Trioflix Studio India": "Trioflix Studio भारत"
    };

    // 2. Powerful Translation Function
    function autoTranslate(targetLang) {
        if (targetLang === 'en') {
            localStorage.setItem('trioflix_lang', 'en');
            location.reload(); 
            return;
        }

        // Page ke saare elements scan karo
        const elements = document.querySelectorAll('h1, h2, h3, h4, h5, h6, p, span, a, button, li');
        
        elements.forEach(el => {
            // Hum text content ko "clean" karke match karenge
            let text = el.innerText ? el.innerText.trim() : "";
            
            // Check agar word list mein hai
            if (wordMap[text]) {
                el.innerText = wordMap[text];
            }
        });
    }

    // 3. Dropdown change hone par call karo
    function changeLang(langCode) {
        localStorage.setItem('trioflix_lang', langCode);
        autoTranslate(langCode);
    }

    // 4. Page load par memory se check karo
    document.addEventListener('DOMContentLoaded', () => {
        const savedLang = localStorage.getItem('trioflix_lang') || 'en';
        
        // Dropdown ki UI set karo
        const switcher = document.getElementById('lang-switcher');
        if(switcher) switcher.value = savedLang;

        if (savedLang === 'hi') {
            // Thoda delay taaki Bootstrap load ho jaye
            setTimeout(() => autoTranslate('hi'), 500);
        }
    });
</script>